* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    display: flex;
    margin-bottom: 10px;
}

.start {
    margin-left: 100px;
}

.start_rent {
    display: flex;
}