* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #ffffff;
    background: url(/img/mers.png) no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.biggestblock {
display: flex;
justify-content: center;
}
.rent {
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    display: flex;
    margin-bottom: 10px;
}

.startofarent {
margin-left: 100px;

}
.head_rent {

}
.online {
margin-bottom: 20px;
}
.start_rent {
    justify-content: center;
    display: flex;
    border-radius: 10px;
}

.btn-start {
    height: 50px;
    text-align: center;
}
.start {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 7px 20px;
}
.btn-end {
    height: 50px;
    text-align: center;
}
.end {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 7px 20px;
}
.vibor {
margin-top: 15px;
margin-bottom: 5px;
}
.start {

}
.end {
margin-left: 15px;
}
.auto_list {
margin-top: 19px;
margin-left: 65px;
background-color: rgba(0, 255, 13, 0.466);
border-radius: 10px;

}
.rent_list {
    display: flex;
    column-gap: 90px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.btn {
    background-color: #7be980;
    border: 1px solid #ffffff;
    border-radius: 15px;
    padding: 9px 70px;
}

.btn-wrap {
    height: 50px;
    padding: 50px 0px 50px;
    text-align: center;
    color: #ffffff;
}
.section_one {

}
.section_two {

}